
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Result</h2>

<h5>Total Questions: @Model["Total"]</h5>
<h5>Total Questions that Answered: @Model["Answered"]</h5>
<h5>Correct Questions: @Model["Correct"]</h5>
<h5>Points: @Model["Point"]</h5>
